Repository oracle/docker-images, pull requests merged in 2018-09, with the labels that each got.

#979 Leveraging multi-stage builds for Oracle Database Docker images
  OracleDatabase/SingleInstance/dockerfiles/12.1.0.2/Dockerfile.ee
  OracleDatabase/SingleInstance/dockerfiles/12.1.0.2/Dockerfile.se2
  OracleDatabase/SingleInstance/dockerfiles/12.1.0.2/installDBBinaries.sh
  OracleDatabase/SingleInstance/dockerfiles/12.1.0.2/setupLinuxEnv.sh
  OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/Dockerfile
  OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/Dockerfile.se2
  OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/installDBBinaries.sh
  OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/setupLinuxEnv.sh
  OracleDatabase/SingleInstance/dockerfiles/18.3.0/Dockerfile
  OracleDatabase/SingleInstance/dockerfiles/18.3.0/Dockerfile.se2
  OracleDatabase/SingleInstance/dockerfiles/18.3.0/installDBBinaries.sh
  OracleDatabase/SingleInstance/dockerfiles/18.3.0/setupLinuxEnv.sh
  OracleDatabase/SingleInstance/dockerfiles/buildDockerImage.sh
Labels: database

#952 Implemented multistage Dockerfile to shrink FMW image size
  OracleFMWInfrastructure/dockerfiles/12.2.1.3/Dockerfile
  OracleFMWInfrastructure/dockerfiles/12.2.1.3/infraDomain.env.list
Labels: oca-required

#951 MacOS fix for md5sum, and matched password to README.md
  OracleFMWInfrastructure/dockerfiles/12.2.1.3/infraDomain.env.list
  OracleFMWInfrastructure/dockerfiles/buildDockerImage.sh
Labels: oca-required

#985 Make ORACLE_SID and ORACLE_PDB always uppercase
  OracleDatabase/SingleInstance/dockerfiles/12.1.0.2/runOracle.sh
  OracleDatabase/SingleInstance/dockerfiles/12.2.0.1/runOracle.sh
  OracleDatabase/SingleInstance/dockerfiles/18.3.0/runOracle.sh
  OracleDatabase/SingleInstance/tests/runContainerTests121.sh
  OracleDatabase/SingleInstance/tests/runContainerTests122.sh
  OracleDatabase/SingleInstance/tests/runContainerTests183.sh
Labels: database

#989 Add checksum for 18.2
  OracleRestDataServices/dockerfiles/Checksum.18.2.0
Labels: restdataservices

#991 Match regex with new version format
  OracleRestDataServices/dockerfiles/buildDockerImage.sh
Labels: restdataservices
