Repository oracle/docker-images, pull requests merged in 2020-03, with the labels that each got.

#1548 Paths in documentation don't match directory structure
  OracleDatabase/SingleInstance/samples/prebuiltdb/README.md
Labels: database

#1529 Explain error ORA-12637 on Database 19c FAQ
  OracleDatabase/SingleInstance/FAQ.md
Labels: database, documentation

#1173 [OracleRestDataServices] Use custom context-root if specified by CONTEXT_ROOT env variable
  OracleRestDataServices/README.md
  OracleRestDataServices/dockerfiles/runOrds.sh
  OracleRestDataServices/dockerfiles/standalone.properties.tmpl
Labels: oca-verified
