Repository oracle/docker-images, pull requests merged in 2021-08, with the labels that each got.

#2043 Oracle GoldenGate on Docker
  OracleGoldenGate/12c-19c/README.md
  OracleGoldenGate/21c/Dockerfile
  OracleGoldenGate/21c/README.md
  OracleGoldenGate/21c/bin/create-certificate.sh
  OracleGoldenGate/21c/bin/deployment-init.py
  OracleGoldenGate/21c/bin/deployment-main.sh
  OracleGoldenGate/21c/bin/healthcheck
  OracleGoldenGate/21c/bin/replace-variables.sh
  OracleGoldenGate/21c/install-deployment.sh
  OracleGoldenGate/21c/install-prerequisites.sh
  OracleGoldenGate/21c/nginx/nginx.conf
  OracleGoldenGate/21c/nginx/ogg-headers.conf
  OracleGoldenGate/21c/nginx/ogg.conf
  OracleGoldenGate/21c/samples/README.md
  OracleGoldenGate/21c/samples/docker-compose.yml
  OracleGoldenGate/LICENSE
  OracleGoldenGate/README.md
Labels: golden gate

#2042 Handled Timing issue with acquiring/releasing locks
  OracleDatabase/SingleInstance/extensions/k8s/lock.py
Labels: database, kubernetes

#2074 Adding support for oracle wallet in the pod environment for 19c
  OracleDatabase/SingleInstance/dockerfiles/19.3.0/Dockerfile
  OracleDatabase/SingleInstance/dockerfiles/19.3.0/createDB.sh
Labels: database
