Repository oracle/docker-images, pull requests merged in 2021-03, with the labels that each got.

#1867 Update setPassword.sh : escape quotes in order to protect passwords which start with a number
  OracleDatabase/SingleInstance/dockerfiles/18.4.0/setPassword.sh
Labels: bug, database

#1537 Create new db on container start if oradata folder was manually emptied
  OracleDatabase/SingleInstance/dockerfiles/18.4.0/runOracle.sh
Labels: oca-verified

#1879 Exiting the build if patch application fails while building SI DB image with patching extension
  OracleDatabase/SingleInstance/extensions/patching/Dockerfile
  OracleDatabase/SingleInstance/extensions/patching/patchDBBinaries.sh
Labels: database, kubernetes

#1884 Fixing issue #1868
  OracleDatabase/SingleInstance/samples/kubernetes/kubernetes-example.yaml
Labels: database, kubernetes

#1778 Fixes excessive audit logs for sys healthchecks #1651
  OracleDatabase/SingleInstance/dockerfiles/19.3.0/checkDBStatus.sh
  OracleDatabase/SingleInstance/dockerfiles/19.3.0/createDB.sh
Labels: database, oca-verified
